<header class="app-header">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Navigation -->
  <nav class="navbar">
    <a routerLink="/landing" routerLinkActive="active">Landing</a>
    <a routerLink="/next-step" routerLinkActive="active">Person Details</a>
    <a routerLink="/family-information" routerLinkActive="active">Family Information</a>

  </nav>
</header>

<!-- Routed pages -->
<main class="page-content">
  <router-outlet></router-outlet>
</main>
